name: agents
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  url_strategy: ^0.2.0  # For cleaner URLs in web
  flutter_web_plugins:
    sdk: flutter
  responsive_framework: ^1.1.1  # For responsive design
  http: ^1.1.0  # For making HTTP requests

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true